body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f52905, #a11d8b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #a1a1a1;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 1.5rem;
  color: #a1a1a1;
  font-weight: bold;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

.calculadora-box {
  padding: 20px;
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 100%;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f80404;
}

.text-center {
  text-align: center;
}

.text-blue-600 {
  color: #000000;
}
